[Desktop Entry]
Name=Kone AIMO config
Name[de]=Kone AIMO Konfiguration
Comment=Modify Roccat Kone AIMO device settings
Comment[de]=Roccat Kone AIMO Einstellungen ändern
Type=Application
Exec=roccatkoneaimoconfig
Icon=roccat
Terminal=false
Categories=Settings;HardwareSettings;GTK;
